@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);



html,
body {
    min-height: 100%;
}

body {
    background: #F0F0F0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

/* Fixes */
.noSpace{
    margin: 0;
    padding: 0;
}

/*Shared properties*/

.title, .card__footer {
    color: #FEFEFE;
    text-transform: capitalize;
    line-height: 2.5;
}

.card__content {
    position: relative;
    color: #FEFEFE;
    padding: 20px 0 10px 0;
}


/*arrow creation*/

.card__content:after,
.card__content:before,
.card__footer:before,
.card__footer:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.card__footer:after,
.card__footer:before {
    top: 0;
}

.card__content:after,
.card__footer:after {
    border-color: rgba(136, 183, 213, 0);
    border-width: 5px;
    margin-left: -5px;
}


.card__content:after {
    border-top-color: #53cfe9;
}

.card__footer:after {
    border-top-color: #FFFFFF;
}

.bgBlue {
    background-color: #53CFE9;
}

.bgBlueDark {
    background-color: #3EC6E0;
}

.card__title {
    font-size: 4.5rem;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    font-weight: normal;
    line-height: 1.2;
}

.card__price {
    font-size: 3rem;
    font-weight: normal;
}

.card__price,
.card__footer {
    line-height: 1;
    padding: 13px;
    color: #FFF;
}

.card__title__info {
    margin-top: 1rem;
    font-style: italic;
}

.card__description {
    background: #fff;
    line-height: 1.7;
    text-align: justify;
    padding: 25px;
    color: #5e5e5e;
    font-size: 1.3rem;
}

.card__features {
    list-style-type: none;
    background: #FFFFFF;
    text-align: left;
    color: #5F5F5F;
    padding: 30px 50px;
    font-size: 1.5rem;
    flex-grow: 1;
}

.card__features li {
    padding: 7px 0 7px 5px;
    width: 100%;
    text-indent: -12px;
    line-height: 1.5;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.grid__column {
    flex: 1;
    text-align: center;
    margin: 1rem;
}

.card {
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card__footer {
    margin-top: auto;
    text-transform: capitalize;
}

.page__title {
    font-size: 3rem;
    font-weight: normal;
}

.page__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


footer {
    background: #2e2e2e;
    color: #F0F0F0;
    margin-top: 3rem;
    min-height: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    line-height: 2.3;
}

i.fa {
    margin-right: 0.9rem;
    text-align: left;
}

.pointer {
    cursor: pointer;
}

.footer__link,
.footer__link:hover {
    color: #F0F0F0;
    text-decoration: none;
}

.flex {
    display: flex;
}

.flex__spaceAround {
    justify-content: space-around;
}